* {
    font-family: 'Open Sans', sans-serif;
}

/*--landing page--*/
body{
    margin: 0;
    padding: 0;
}

nav{
    padding-top: 0;
    padding-bottom: 0;
    height: 5rem;
}

.active-nav-item{
    text-decoration: underline;
}

.hero {
    background-image: url(taipei-1851948_1920.jpg);
    background-size: cover;
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    color: #ffffff;
}

.hero button {
    margin: 1rem;
    padding: 1rem 4rem;
    border-radius: 30px;
    background-color: #ffffff;
    color: #2f5597;
    font-size: 1rem;
}

.hero h1 {
    font-size: 4rem;
}

.nav-item{
    padding: 0 1rem;
    margin: 0;
    text-align: center;
}

/*--our services--*/
.services {
    width: 100%;
    margin: 0 auto;
}

.services h2 {
    padding: 1.5rem;
    text-align: center; 
}

.services .row {
    max-width: 1200px;
    margin: 0 auto;
}

.services .nav-link {
    color: #3f3f3f;
}

.services .nav-link:hover {
    color: #9fb3d6;
}

.services .nav-link.active {
    color: black;
    background-color: #ffffff;
    border-left: 6px solid #2f5597;
}

.services i {
    color: #2f5597;
}

.services i:hover {
    color: #2f5597;
}

.sercard {
    padding: 1rem;
}

.ext p {
    display: inline-block;
    margin: 1rem 1rem;
    vertical-align: top;
    width: 45%;
    height: 60px;
    font-size: 1.2rem;
}

.int p {
    display: inline-block;
    margin: 1rem 1rem;
    vertical-align: top;
    width: 45%;
    height: 60px;
    font-size: 1.2rem;
}

.aft p {
    display: inline-block;
    margin: 1rem 1rem;
    vertical-align: top;
    width: 45%;
    height: 60px;
    font-size: 1.2rem;
}

/*--recent blog posts--*/
.posts {
    text-align: center;
    margin: 3rem;
}

.posts h2 {
    padding: 1.5rem;
}

/*--footer--*/
footer {
    background-color: #2f5597;
    color: #ffffff;
}

.home a {
    color: #ffffff;
}

.about a {
    color: #ffffff;
}

.blog a {
    color: #ffffff;
}

.projects a {
    color: #ffffff;
}

.contact a {
    color: #ffffff;
}

.home a:hover {
    color: #dbdbdb;
    text-decoration: none;
}

.about a:hover {
    color: #dbdbdb;
    text-decoration: none;
}

.blog a:hover {
    color: #dbdbdb;
    text-decoration: none;
}

.projects a:hover {
    color: #dbdbdb;
    text-decoration: none;
}

.contact a:hover {
    color: #dbdbdb;
    text-decoration: none;
}

i {
    padding: 5px;
    color: #ffffff;
}

i:hover {
    padding: 5px;
    color: #dbdbdb;
}